<div id="review-<%= review.id %>">

<div class="community-review-card">

  <div class="d-flex justify-content-between">
    <h3><%= review.user.username.capitalize %></h3>
    <button class="btn btn-gradient">New Review</button>
  </div>

  <div class="d-flex justify-content-between">
    <%= link_to "@Facility.name"  %>
    <%# Time sent ago %>
    <% timecreated = review.created_at.strftime("%a %b %e at %l:%M %p") %>
    <i><%= time_ago_in_words(timecreated) %> ago</i>
  </div>

  <img src="https://source.unsplash.com/mNefYU7uRbk" alt="food image" width= "100%">
  <h4><p><%= review.content %></p></h4>
</div>

</div>
