
<div class="container channel"
  data-controller="community-subscription"
  data-community-subscription-community-id-value="<%= @channel.id %>">

  <h1 class="d-flex justify-content-center">#<%= @channel.name %></h1>

  <div class="messages" data-community-subscription-target="messages">

    <% @channel.messages.each do |message| %>
      <%= render "channels/message", message: message %>
    <% end %>

    <div class="reviews">
      <% @reviews.each do |review| %>
        <%= render "channels/review", review: review %>

      <% end %>
    </div>

    <%# text input box %>
    <div class="mt-3">
      <%= render "channels/show" %>
    </div>

  </div>

  <%# <div data-community-subscription-target="input">test</div> %>
</div>
