
<div class="container channel"
  data-controller="community-subscription"
  data-community-subscription-community-id-value="<%= @channel.id %>">

  <h1 class="d-flex justify-content-center">#<%= @channel.name %></h1>

  <%# message %>
  <div class="messages" data-community-subscription-target="messages">
    <% @combined_content.each do |content| %>
      <% if content.class == Message %>
        <%= render "channels/message", message: content %>
      <% elsif content.class == Review %>
        <%= render "channels/review", review: content %>
      <% end %>
    <% end %>

    <%# text input box %>
    <div class="mt-3">
      <%= render "channels/show" %>
    </div>

  </div>

  <%# <div data-community-subscription-target="input">test</div> %>
</div>

<%# Push message array and review array into new array %>

  <%# Iterate over the combined content, and for each, render the appropiate partial %>
