<div class="container channel">
  <h1>#<%= @channel.name %></h1>

  <div class="reviews">
    <%= @reviews.each do |review| %>
      <div id="review-<%= review.id %>">
        <small>
          <strong><%= review.user_id %></strong>
          <i><%= review.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= review.content %></p>
      </div>
    <% end %>

  </div>

</div>
