<img src="https://source.unsplash.com/N_Y88TWmGwA" alt="facility-image" width="100%">
<div class="row mt-2">
  <div class="facility-name col-8 d-inline">
    <h1><%= @facility.name %></h1>
    <h6><%= pluralize @facility.reviews.size,"review" %></h6>
  </div>
</div>

<div class="row five-stars">
  <ul class="col-9">
    <li class="fa-regular fa-star fa-2xl"></li>
    <li class="fa-regular fa-star fa-2xl"></li>
    <li class="fa-regular fa-star fa-2xl"></li>
    <li class="fa-regular fa-star fa-2xl"></li>
    <li class="fa-regular fa-star fa-2xl"></li>
  </ul>
</div>

<div>
  <% if user_signed_in? == true %>
    <%= link_to "Share your experience", new_facility_review_path(@facility), class: "btn btn-gradient" %>
  <% else %>
    <%= link_to "Review Now", new_user_session_path, class: "btn btn-gradient" %>
  <% end %>
</div>

<div class="facility-details">

  <div class="opening-hours d-flex">
    <i class="fa-regular fa-clock"></i>
    <div class="d-line ms-4">
      <h5>Opening Today</h5>
      <%= @facility.opening_hours.sample.hours %>
    </div>
  </div>

  <div class="address d-flex mt-2">
    <i class="fa-solid fa-location-dot"></i>
    <div class="d-line ms-4 ">
      <h5>Address</h5>
      <h6><%= @facility.address %></h6>
      <%= link_to "Tap to view map", "http://maps.google.com/maps?q=" %>
    </div>
  </div>

  <div class="type d-flex mt-2">
    <i class="fa-solid fa-utensils"></i>
    <div class="d-line ms-4">
      <h6><%= @facility.price_range %>/pax . Modern . European</h6>
    </div>
  </div>
</div>
