<div class="my-3 form body content-wrapper">
  <div class="">
    <div class= "row">
      <div class="my-3">
          <h1>New Facility to Add</h1>
          <%= simple_form_for [ @category, @facility ] do |f| %>
            <div class="form-inputs">
              <%= f.input :name, label: 'Facility Name:' %>
              <%= f.input :address, label: 'Address:' %>
              <%= f.input :phone, label: 'Phone:' %>
              <%= f.input :category, collection: Category.all  %>
              <%= f.input :price_range, collection: ["$", "$$", "$$$"]   %>
              <%= f.input :photo, as: :file, label: 'Attach Photo:' %>
            </div>

            <div class="form-actions">
              <%= f.submit "Submit Request", class:"btn-gradient" %>
            </div>
         <% end %>
      </div>
    </div>
  </div>
</div>
