<div class="my-3 form body content-wrapper">
  <div class="">
    <div class= "row">
      <div class="my-3">
        <h1>New Facility to Add</h1>
        <%= simple_form_for [ @category, @facility ] do |f| %>
        <%= f.input :name, label: 'Facility Name:' %>
        <%= f.input :address, label: 'Address:' %>
        <%= f.input :phone, label: 'Phone:' %>
        <%= f.input :category, collection: Category.all  %>
        <%= f.input :photo, as: :file, label: 'Attach Photo:' %>
        <%= f.submit "Submit Request", class:"btn-gradient", data: {confirm: "Are You Sure?" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
