<br>

<div class="container my-3 form">


  <% if @facilities.empty? %>
    <h1>Sorry, <%= @query.capitalize %> could not be found &#x1F615;</h1>
    <br>
    <%= link_to "http://maps.google.com/maps?q=#{@query}" do %>
      <div class="btn btn-gradient">Search on Google?</div>
    <% end %>

  <% else %>
      <h1>Here's what we've found...</h1>

    <% @facilities.each do |facility| %>
      <div class="verified-card my-3", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/N_Y88TWmGwA')">
        <div class="col-8 details">
          <h2><%= link_to facility.name, facility_path(facility) %></h2>
            <p><%= facility.distance  %> metres away</p>
            <span><%= facility.address %></span>
            <div>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
        </div>


        <div class="col-4 status">
          <div class="badge badge-verified">
            <% if facility.verified_status == true %>
              <h3>Verified</h3>
              <% else %>
              <h3 >Unverified</h3>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  <% end %>


<div class="container-fluid">
<br>
<br>
<br>
<br>
  <h4>Would you like to make another search?</h4>
  <%= form_tag search_facilities_path, method: :get do %>
    <%= text_field_tag :name,
    params[:name],
    class: "form-control",
    placeholder: "Search by Name"%>
    <%= submit_tag "Search", class: "btn btn-gradient mt-3" %>
  <% end %>
</div>

<div class="mx-3">
  <p><%= link_to "Back", request.referer.present? ? request.referer : root_path, class:"btn btn-gradient mt-3" %> <%= link_to "Home", root_path, class:"btn btn-gradient mx-3 mt-3" %></p>
</div>
