<div class="container my-3 form">



  <% if @facilities.empty? %>
      <h1>Sorry, <%= @query.capitalize %> could not be found</h1>

      <%= link_to "http://maps.google.com/maps?q=#{@query}" do %>
        <div class="btn btn-gradient">Search on Google?</div>
      <% end %>

    <% else %>
      <% @facilities.each do |facility| %>
        <%= render "facilities/search_card" %>
      <% end %>
  <% end %>
    <div class="container-fluid my-3">
              <%= form_tag search_facilities_path, method: :get do %>
                  <%= text_field_tag :name,
                          params[:name],
                          class: "form-control",
                            placeholder: "Search by Name"%>
                  <%= submit_tag "Search", class: "btn btn-gradient my-3" %>
                    <% end %>
    </div>
    <div class="mx-2">
      <p><%= link_to "Back", request.referer.present? ? request.referer : default_path, class:"btn btn-gradient" %></p>
      <p><%= link_to "Home", root_path, class:"btn btn-gradient" %></p>
    </div>

</div>
