<div class="container">
  <%= render "facilities/facility_details" %>
  <%= render "facilities/facility_map" %>

  <%# <%= render "facilities/facility_review_card" %> %>


  <%= render "facilities/review_card_component" %>



  <% if user_signed_in? == true %>
    <%= link_to "Add Review", new_facility_review_path(@facility) %>
  <% else %>
    <%= link_to "Review Now", new_user_registration_path %>
  <% end %>

  <%# <p><%= link_to "Back", category_path(@facility.category.name) %></p>
  <p><%= link_to "Back", request.referer.present? ? request.referer : default_path %></p>
  <p><%= link_to "Home", root_path %></p>

</div>
