<div class="container">
  <%= render "facility_details" %>
  <%= render "facility_map" %>

  <%= render "facility_review_card" %>

  <p><%= link_to "Back", category_path(@facility.category.name) %></p>
  <p><%= link_to "Home", root_path %></p>

</div>
