<div class="container">
  <%= render "facilities/facility_details" %>
  <%= render "facilities/facility_map" %>
  <%= render "facilities/review_card_component" %>
  <%= render "facilities/facility_review_card" %>

  <% if user_signed_in? == true %>
    <%= link_to "Add Review", new_facility_review_path(@facility), class: "btn btn-gradient my-3" %>
  <% else %>
<<<<<<< HEAD
    <%= link_to "Review Now", new_user_session_path, class: "btn btn-gradient" %>
=======
    <%= link_to "Review Now", new_user_session_path, class: "btn btn-gradient my-3" %>
>>>>>>> 7cbdaa3277aa874131a96fb9da476ea6df47e94d
  <% end %>


  <p><%= link_to "Back", request.referer.present? ? request.referer : category_path(@facility.category), class: "btn btn-gradient" %></p>


  <p><%= link_to "Home", root_path, class: "btn btn-gradient" %></p>

</div>
