<h1><%= @category.name %></h1>
<br>
<div>
  <% @facilities.each do |facility| %>
    <li><%= link_to facility.name, facility_path(facility.id) %></li>
  <% end %>
</div>
<br>
  <div class="container-fluid">
          <form class="d-flex">
            <%= form_tag facility_path, method: :get do %>
                <%= text_field_tag :name,
                        params[:name],
                        class: "form-control",
                          placeholder: "Search by Name"%>
                <%= submit_tag "Search", class: "btn btn-primary" %>
                   <% end %>
          </form>
  </div>

<p><%= link_to "Back", root_path %></p>
