<h1>Share Your Experience</h1>
<br>
<div class="container col-12 mx-auto">
  <h2> <strong><%= @facility.name %></strong></h2>


  <div class="row col-12" data-controller="review-form" >
    <%= simple_form_for [@facility, @review] do |f| %>
      <%= f.hidden_field :user_id, label: "user_id", value: @review.user_id %>
      <%= f.hidden_field :facility_id, label: "facility_id", value: @review.facility_id %>
      <div class="row" >

        <% @facility.rating_types.each do |rating_type| %>
            <div class="rating" data-controller="rating-star">
              <p><strong><%= rating_type.name %></strong></p>

              <% (1..5).each do |i| %>
                <span class="fa fa-star fa-2xl" data-action="click->rating-star#rate"
                  data-stars="<%= i %>">
                </span>
              <% end %>

              <input type="hidden" name="<%= "Type" + rating_type.id.to_s %>" value="<%= rating_type.id %>" />
              <input type="hidden" class="rating-value" name="<%= "Rating" + rating_type.id.to_s %>" data-rating-star-target="input"/>
              <div class="text-danger rating-value-error mt-3" style="display:none" >This field is required</div>
            </div>

        <% end %>
      </div>

      <%= f.input :content, label: "Review", placeholder: "Any additional comments?" %>
      <%= f.input :photo, as: :file, label: "Upload Photo" %>
      <%= f.submit "Submit review", class:"btn btn-gradient mx-auto", data: { action: "click->review-form#submitForm" } %>
    <% end %>
  </div>

</div>
