<h2>Share Your Experience</h2>

<div class="container col-8 mx-auto">
  <h3><%= @facility.name %></h3>

  <div >
    <% RatingType.all.each do |rating_type| %>
      <ul class="rating">
        <li><strong><%= rating_type.name %></strong></li>
          <% (1..5).each do |i| %>
            <li class="rating_stars fa-regular fa-star fa-2xl"
              data-stars="<%= i %>" data-rating_type-id="<%= rating_type.id %>" id="<%= "#{rating_type.id}_#{i}" %>">
            </li>
          <% end %>
      </ul>
    <% end %>
  </div>

  <div class="row">
    <%= simple_form_for [@facility, @review] do |f| %>
      <%= f.input :user_id, label: "user_id", value: current_user.id %>
      <%= f.input :facility_id, label: "facility_id", value: @facility.id %>
      <%= f.input :content, label: "Review", placeholder: "Any additional comments?" %>
      <%= f.input :image, as: :file, label: "Upload Photo" %>
      <%= f.submit "Submit review", class:"btn btn-primary mx-auto" %>
    <% end %>
  </div>



</div>
